<script type="text/javascript">
  window.currentUserId= <%= current_user ? current_user.id.inspect.html_safe : "null" %>;
</script>
<%= javascript_include_tag 'application' %>
<div id="content">
  things will go here
</div>
