/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';



body
{
  background: url("http://res.cloudinary.com/tholmes741/image/upload/v1450743767/streets_city_urban_city_lights_1280x800_wallpaper_www.wall321.com_19_yocik6.jpg") fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  color: rgb(60,60,60);
}

.form{
  margin: auto;
  margin-top: 100px;
  width: 400px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.form h1 {
  text-align: center;
}

.sign-up-btn {
  position: relative;
  margin-left: 135px;
}

.login-btn {
  position: relative;
  margin-top: 10px;
  margin-left: 168px;
}

.demo-btn {
  background-color: white;
  border: 1px solid #ccc;
  margin-left: 125px;
  margin-top: 3px;
}

.form .btn {
  bottom: 3px;
}

.form-control {
  margin: auto;
  width: 80%;
}


label {
  margin-left: 42px;
}



.icon {
   padding-right: 10px;
 }

 .icon:hover {
   cursor: pointer;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 div.demo-text {
   text-align: center;
 }

 button.demo-btn {
   text-align: center;
 }
