.edit {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.edit img {
  border: 1px solid black;
}
