.splash {
  text-align: center;
  margin-top: 200px;
}

.splash-logo {
  background-color: rgba(128, 128, 128, .2);
  border-radius: 30px;
  width: 650px;
  height: auto;
  padding: 150px 50px;
}

.splash-logo:hover {
  background-color: rgba(128, 128, 128, .3);
  cursor: pointer;

}
