.track-list-container{
   height: auto;
   width: 600px;
   border: 1px solid black;
   border-radius: 5px;
}

.track-list{
  list-style-type: none;
}

.track-list-item{
  border: 1px solid black;
}

.item-content {
  display: inline-block;;
}
